<div class="mx-4">
  <h5 class="fw-bold">Buscar empresa</h5>

  <form (ngSubmit)="onSubmit()">
    <div class="input-group mb-3">
      <span class="input-group-text" id="buscar-nombre"
        ><i class="bi bi-search"></i
      ></span>
      <input
        type="text"
        class="form-control"
        name="nombreEmpresa"
        placeholder="Nombre"
        aria-label="Nombre empresa"
        aria-describedby="buscar-nombre"
        caracteresProhibidosInput=""
        [(ngModel)]="model.nombre"
      />
    </div>

    <div class="mb-3">
      <label for="provincia" class="form-label fw-semibold">Provincia</label>
      <select
        class="form-select"
        name="provincia"
        aria-label="Provincia"
        #selectProv
        [(ngModel)]="model.provincia"
        (change)="provinciaSeleccionada.set(model.provincia?.id ?? '')"
      >
        <option [ngValue]=null selected>Cualquiera</option>
        @for (item of provincias(); track item.id) {
        <option [ngValue]="item">{{ item.name }}</option>
        }
      </select>
    </div>

    <div class="mb-3">
      <label for="localidad" class="form-label">Localidad</label>
      <select
        class="form-select"
        name="localidad"
        aria-label="Select localidad"
        [(ngModel)]="model.localidad"
      >
        <option [ngValue]=null>Cualquiera</option>
        @for (localidad of rxLocalidadesComputed(); track localidad) {
        <option [ngValue]="localidad">{{ localidad.name }}</option>
        }
      </select>
    </div>

    <div class="mb-3">
      <label for="vacantes" class="form-label">Vacantes</label>
      <select class="form-select" name="vacantes" aria-label="Select vacantes"
      [(ngModel)]="model.vacantes">
        <option [ngValue]="null">Cualquiera</option>
        @for (vacantes of opcionesVacantes; track $index) {
        <option [ngValue]="vacantes">{{ vacantes }}</option>
        }
      </select>
    </div>

    <div class="mb-3">
      <label for="categorias" class="form-label">Categorías</label>
      <select
        class="form-select"
        name="categorias"
        aria-label="Select categorías"
        #categoriasSelect
        [(ngModel)]="model.categoria"
        (change)="this.categoriaSeleccionada.set(model.categoria?.id ?? '')"
      >
        <option [ngValue]="null">Cualquiera</option>
        @for (categoria of categorias(); track categoria.id) {
        <option [ngValue]="categoria">{{ categoria.name }}</option>
        }
      </select>
    </div>

    <div class="mb-3">
      <label for="categorias" class="form-label">Servicios</label>
      <select
        class="form-select"
        name="servicios"
        aria-label="Select servicios"
        [(ngModel)]="model.servicio"
      >
        <option [ngValue]="null">Cualquiera</option>
        @for (servicio of servicios(); track servicio.id) {
        <option [ngValue]="servicio">{{ servicio.name }}</option>
        }
      </select>
    </div>

    <button-main
      link="#"
      text="Aplicar filtros"
      [submit]="true"
      btnIcon='<i class="bi bi-search"></i>'
    >
    </button-main>
  </form>
</div>
