<div class="mx-4">
  <h5 class="fw-bold">Buscar empresa</h5>

  <form
    (submit)="aplicarFiltros($event)"
  >
    <div class="input-group mb-3">
      <span class="input-group-text" id="buscar-nombre"
        ><i class="bi bi-search"></i
      ></span>
      <input
        type="text"
        class="form-control"
        name="nombreEmpresa"
        placeholder="Nombre"
        aria-label="Nombre empresa"
        aria-describedby="buscar-nombre"
        caracteresProhibidosInput=""
      />
    </div>

    <div class="mb-3">
      <label for="provincia" class="form-label fw-semibold">Provincia</label>
      <select
        class="form-select"
        name="provincia"
        aria-label="Provincia"
        #selectProv
        (change)="provinciaSeleccionada.set(selectProv.value)"
      >
        <option value="-">Cualquiera</option>
        @for (item of provincias(); track item.id) {
        <option value="{{ item.id }}">{{ item.name }}</option>
        }
      </select>
    </div>

    <div class="mb-3">
      <label for="localidad" class="form-label">Localidad</label>
      <select
        class="form-select"
        name="localidad"
        aria-label="Select localidad"
      >
        <option value="">Cualquiera</option>
        @for (localidad of rxLocalidadesComputed(); track localidad) {
        <option value="{{ localidad.id }}">{{ localidad.name }}</option>
        }
      </select>
    </div>

    <div class="mb-3">
      <label for="vacantes" class="form-label">Vacantes</label>
      <select class="form-select" name="vacantes" aria-label="Select vacantes">
        <option value="">Cualquiera</option>
        @for (vacantes of opcionesVacantes; track $index) {
        <option value="{{ vacantes }}">{{ vacantes }}</option>
        }
      </select>
    </div>

    <div class="mb-3">
      <label for="categorias" class="form-label">Categorías</label>
      <select
        class="form-select"
        name="categorias"
        aria-label="Select categorías"
      >
        <option value="">Cualquiera</option>
        @for (categoria of categorias; track categoria) {
        <option value="{{ categoria }}">{{ categoria }}</option>
        }
      </select>
    </div>

    <div class="mb-3">
      <label for="categorias" class="form-label">Servicios</label>
      <select
        class="form-select"
        name="servicios"
        aria-label="Select servicios"
      >
        <option value="">Cualquiera</option>
        @for (servicio of opcionesServicios; track servicio) {
        <option value="{{ servicio }}">{{ servicio }}</option>
        }
      </select>
    </div>

    <button-main link="#" text="Aplicar filtros" [submit]="true"
    btnIcon='<i class="bi bi-search"></i>'>
      <i icon class="bi bi-search"></i>

    </button-main>

  </form>
</div>
