<div class="card">
  <img src="{{empresa().imagen}}" class="card-img-top rounded" alt="...">
  <div class="card-body px-0 mx-0">
    <h6 class="card-subtitle mb-2 text-body-secondary ">{{empresa().direccion.poblacion}} - ({{empresa().direccion.provincia.name}})</h6>
    <h5 class="card-title fw-bold fs-6">{{empresa().nombre}}</h5>
    <!--categorias-->
    <h6 class="card-subtitle mb-2 text-body-secondary">{{empresa().categorias}}</h6>
    <!--Localizacion-->
    <div class="my-2 row align-items-center">
      <div class="col-1">
        <i class="bi bi-geo-alt"></i>
      </div>
      <div class="col-10">
        <p class="section-title mb-0">{{empresa().direccion.poblacion}} - ({{empresa().direccion.provincia.name}})</p>
        <p class="mb-1">{{empresa().direccion.calle}}</p>
      </div>
    </div>
    <!--Horarios-->
    <div>
      <div class="my-2 row align-items-center">
        <div class="col-1">
          <i class="bi bi-calendar"></i>
        </div>
        <div class="col-11 row">
          <div class="col-6">
            <p class="section-title mb-0">De</p>
            <p class="mb-1">{{empresa().horario.horario_manana}}</p>
          </div>
          <div class="col-6">
            <p class="section-title mb-0">Hasta</p>
            <p class="mb-1">{{empresa().horario.horario_tarde}}</p>
          </div>
        </div>
      </div>
    </div>

    <!--Puestos-->
    <div class="my-2 row align-items-center">
      <div class="col-1">
        <i class="bi bi-person"></i>
      </div>
      <div class="col-10">
        <p class="section-title mb-0">Puestos disponibles</p>
        <p class="mb-1">{{empresa().vacantes}}</p>
      </div>
    </div>

    <!--calificaciones-->
    <div class="my-2">

      <div class="mt-2">
        <div class="row justify-content-between">
          <p class="section-title mb-0 col-9">Calificacion alumnado</p>
          <p class="col-3">{{(empresa().puntuacion* 10).toFixed(0)}}</p>
        </div>
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar" [style.width]="(empresa().puntuacion * 10) + '%'"></div>
        </div>
      </div>
    </div>



   <button-main  text="Contactar"  href="/company/{{empresa().id}}">

    </button-main>

  </div>
</div>
