

<div class="container mt-4">
  <div class="card p-4 shadow-sm">
    <h5 class="card-title">
      Empresa <strong>{{ empresa.nombre }}</strong> con ID <strong>{{ this.id() }}</strong> de <strong>{{ empresa.direccion.provincia }}</strong>
    </h5>

    <form (submit)="crearToken($event)" class="mt-3">
      <div class="mb-3">
        <label for="formulario" class="form-label">Seleccione un formulario:</label>
        <select class="form-select" [(ngModel)]="formularioId" name="formulario">
          <option value="1" selected>Crear Token Formulario 1 (Empresas)</option>
          <option value="2">Crear Token Formulario 2 (Alumnos)</option>
        </select>

      </div>

      <button type="submit" class="btn btn-primary w-100">Generar Token</button>
    </form>

  <div class="mt-3">
      <label for="token" class="form-label">Token Generado:</label>
      <input
        type="text"
        class="form-control"
        id="token"
        [value]="tokenIngresado"
        (input)="onInputChange($event)"
        placeholder=""
      />
    </div>

    <button class="btn btn-success mt-3 w-100" (click)="buscarFormulario()">
      Buscar Formulario
    </button>


  </div>
</div>


