<div class="container">
  <h3>Información de la empresa</h3>
  <form (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input
        type="text"
        class="form-control"
        id=""
        name="nombre"
        formControlName="nombre"


      />

      @if(form.controls.nombre.hasError('nombre-disponible')){
      <span class="error-msg">Nombre no disponible</span>
      } @if((form.get('nombre')?.touched || form.get('nombre')?.dirty) && form.get('nombre')?.hasError('required')){
      <span class="error-msg">Introduce un nombre</span>
      }
      @if(form.get('nombre')?.dirty && form.get('nombre')?.hasError('minlength')){
      <span class="error-msg">Carácteres por debajo del minimo</span>
      }
    </div>

    <div class="mb-3">
      <label for="cif" class="form-label">CIF</label>
      <input
        type="text"
        class="form-control"
        id=""
        name="cif"
        formControlName="cif"
      />
       @if(form.get('cif')?.touched && form.get('cif')?.hasError('pattern')){
      <span class="error-msg">Introduce un CIF válido con formato A12345678</span>
      }
      @else if(form.get('cif')?.touched && form.get('cif')?.hasError('required')){
        <span class="error-msg">Introduce un CIF </span>
      }
    </div>

    <fieldset formGroupName="direccion">
      <div>
        <label class="form-label">Provincia</label>
        <select
          class="form-select"
          name="provincia"
          formControlName="provincia"
        >
          <option [ngValue]="null">Elige una provincia</option>
          @for (provincia of provincias(); track provincia.id) {
          <option [ngValue]="provincia">{{ provincia.name }}</option>
          }
        </select>
        @if(form.get('direccion')?.get('provincia')?.touched && form.get('direccion')?.get('provincia')?.hasError('required')){
        <span class="error-msg">Elige una provincia</span>
        }
      </div>

      <div>
        <label class="form-label">Localidad</label>
        <select
          class="form-select"
          name="localidad"
          formControlName="localidad"
        >
          <option [ngValue]="null">Elige una localidad</option>
          @for (localidad of localidades$ |async; track localidad .id) {
          <option [ngValue]="localidad">{{ localidad.name }}</option>
          }
        </select>
        @if(form.get('direccion')?.get('localidad')?.touched && form.get('direccion')?.get('localidad')?.hasError('required')){
        <span class="error-msg">Elige una localidad</span>
        }
      </div>
    </fieldset>

    <fieldset formGroupName="horarios">
      <div>
        <label class="form-label">Horario</label>
        <input
          type="time"
          name="horarioManana"
          id="horarioManana"
          formControlName="horarioManana"
        />
        <input
          type="time"
          name="horarioTarde"
          id="horario-tarde"
          #horarioTarde
          formControlName="horarioTarde"
        />
        @if ((form.controls.horarios.touched) &&
        (form.controls.horarios.controls.horarioManana.hasError('required') || form.controls.horarios.controls.horarioTarde.hasError('required')))
        {
        <span class="error-msg">Introduce una hora de apertura y de cierre</span>
        }
        @else if (form.controls.horarios.touched && form.controls.horarios.hasError('validarHorario'))
        {
        <span class="error-msg">La hora de cierre debe ser posterior a la apertura</span>
        }
      </div>
    </fieldset>

   <fieldset formGroupName="categorizacion">
     <div>
       <label class="form-label">Categorias</label>
       <select class="form-select" name="categoria"
       formControlName="categoria"
       >
         <option [ngValue]="null">Elige una categoria</option>
         @for (categoria of categorias(); track categoria.id) {
         <option [ngValue]="categoria">{{ categoria.name }}</option>
         }
       </select>
       @if ( form.get('categorizacion')?.get('categoria')?.touched &&
         form.get('categorizacion')?.get('categoria')?.hasError('required')) {
         <p class="error-msg">Selecciona al menos una categoria</p>
         }

     </div>
     <div formGroupName="servicios">
       <p>Servicios</p>

       @for (servicio of form.controls.categorizacion.controls.servicios.controls| keyvalue; track servicio) {
        <label
          [class.d-none]="ocultarServicio(servicio.key)"
          >{{ servicio.key }}
          <input
            type="checkbox"
            [formControlName]="servicio.key"
            [checked]="servicio.value"
            id=""
        /></label>
        }

       @if ( form.get('categorizacion')?.get('categoria')?.touched &&
         form.controls.categorizacion.controls.servicios.hasError('validar-checkbox')) {
         <p class="error-msg">Selecciona al menos un servicio</p>
         }
     </div>
   </fieldset>

    <button
      type="submit"
      class="btn btn-primary"
    [disabled]="form.invalid"
    >
      Submit
    </button>
  </form>
</div>
