<div class="row  justify-content-center mt-3">
  <p class="col-10 col-md-6 d-md-none">Orden</p>
  <div class="col-10 col-md-6 mb-3 ">
    <select name="" id="" class="form-select" #orden (change)="actualizarOrden()"
    [(ngModel)]="ordenModel.orden"
    >
      <option ngValue="asc">Ascendente</option>
      <option value="desc">Descendente</option>
    </select>
  </div>

  <div class="col-10 col-md-6">
    <select name="" id="" class="form-select" #criterio (change)="actualizarCriterioOrdenacion()"
    [(ngModel)]="ordenModel.criterio"
    >
      @for (item of criterioOrdenacion(); track item) {
        <option [ngValue]="item.toLocaleLowerCase()" >{{item}}</option>
      }
    </select>
  </div>

</div>
