<div class="row d-flex ">
  <div class="col-6">
    <select name="" id="" class="form-select" #orden (change)="actualizarOrden()"
    [(ngModel)]="ordenModel.orden"
    >
      <option ngValue="asc">Ascendente</option>
      <option value="desc">Descendente</option>
    </select>
  </div>

  <div class="col-6">
    <select name="" id="" class="form-select" #criterio (change)="actualizarCriterioOrdenacion()"
    [(ngModel)]="ordenModel.criterio"
    >
      @for (item of criterioOrdenacion(); track item) {
        <option [ngValue]="item.toLocaleLowerCase()" >{{item}}</option>
      }
    </select>
  </div>

</div>
