<div class="container w-75 mx-auto my-5">
  <div class="card border-0 shadow-lg overflow-hidden">
    <div class="card-header text-white text-center py-5" style="background: linear-gradient(135deg, #F12711, #F5AF19);">
      <h1 class="display-4 mb-3">Información de la empresa</h1>
      <p class="lead mb-0">Por favor, completa el siguiente formulario</p>
    </div>
    <div class="card-body p-5">
      <form (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input
                type="text"
                class="form-control form-control-lg border-0 shadow-sm rounded-pill"
                formControlName="nombre"
                style="background: rgba(241, 39, 17, 0.1); border: 1px solid #e28277;"
              />
              @if(form.controls.nombre.hasError('nombre-disponible')){
                <span class="error-msg">Nombre no disponible</span>
              }
              @if((form.get('nombre')?.touched || form.get('nombre')?.dirty) && form.get('nombre')?.hasError('required')){
                <span class="error-msg">Introduce un nombre</span>
              }
              @if(form.get('nombre')?.dirty && form.get('nombre')?.hasError('minlength')){
                <span class="error-msg">Carácteres por debajo del mínimo</span>
              }
            </div>

            <div class="form-group mb-3">
              <label for="cif" class="form-label">CIF</label>
              <input
                type="text"
                class="form-control form-control-lg border-0 shadow-sm rounded-pill"
                formControlName="cif"
                style="background: rgba(241, 39, 17, 0.1); border: 1px solid #e28277;"
              />
              @if(form.get('cif')?.touched && form.get('cif')?.hasError('pattern')){
                <span class="error-msg">Introduce un CIF válido con formato A12345678</span>
              }
              @else if(form.get('cif')?.touched && form.get('cif')?.hasError('required')){
                <span class="error-msg">Introduce un CIF</span>
              }
              @else if(form.get('cif')?.touched && form.get('cif')?.hasError('cif-disponible')){
                <span class="error-msg">El CIF ya está en uso</span>
              }
            </div>

            <div class="form-group mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control form-control-lg border-0 shadow-sm rounded-pill"
                formControlName="email"
                style="background: rgba(241, 39, 17, 0.1); border: 1px solid #e28277;"
              />
              @if(form.get('email')?.touched && form.get('email')?.hasError('email')){
                <span class="error-msg">Introduce un Email válido</span>
              }
              @else if(form.get('email')?.touched && form.get('email')?.hasError('required')){
                <span class="error-msg">Introduce un Email</span>
              }
            </div>

            <div class="form-group mb-3">
              <label for="descripcion" class="form-label">Descripción</label>
              <textarea
                class="form-control form-control-lg border-0 shadow-sm rounded-lg"
                formControlName="descripcion"
                rows="4"
                style="background: rgba(241, 39, 17, 0.1); border: 1px solid #F12711;"
              ></textarea>
              @if(form.get('descripcion')?.touched && form.get('descripcion')?.hasError('minlength')){
                <span class="error-msg">Descripción demasiado corta</span>
              }
              @else if(form.get('descripcion')?.touched && form.get('descripcion')?.hasError('required')){
                <span class="error-msg">Describe la empresa</span>
              }
            </div>

            <div class="form-group mb-3">
              <label for="vacantes" class="form-label">Vacantes</label>
              <input
                type="number"
                class="form-control form-control-lg border-0 shadow-sm rounded-pill"
                formControlName="vacantes"
                min="1"
                style="background: rgba(241, 39, 17, 0.1); border: 1px solid #e28277;"
              />
              @if(form.get('vacantes')?.touched && form.get('vacantes')?.hasError('min')){
                <span class="error-msg">Debe haber al menos una vacante</span>
              }
              @else if(form.get('vacantes')?.touched && form.get('vacantes')?.hasError('required')){
                <span class="error-msg">Indica el número de vacantes</span>
              }
            </div>

            <fieldset formGroupName="direccion" class="mb-3">
              <div class="form-group mb-3">
                <label for="provincia" class="form-label">Provincia</label>
                <select
                  class="form-select form-control-lg border-0 shadow-sm rounded-pill"
                  formControlName="provincia"
                  style="background: rgba(241, 39, 17, 0.1); border: 1px solid #e28277;"
                  (change)="onChangeProvincia($event)"
                >
                  <option [ngValue]="null">Elige una provincia</option>
                  @for (provincia of provinciasInit(); track provincia.id) {
                    <option [ngValue]="provincia">{{ provincia.name }}</option>
                  }
                </select>
                @if(form.get('direccion.provincia')?.touched && form.get('direccion.provincia')?.hasError('required')){
                  <span class="error-msg">Elige una provincia</span>
                }
              </div>

              <div class="form-group mb-3">
                <label for="localidad" class="form-label">Localidad</label>
                <select
                  class="form-select form-control-lg border-0 shadow-sm rounded-pill"
                  formControlName="localidad"
                  style="background: rgba(241, 39, 17, 0.1); border: 1px solid #e28277;"
                >
                  <option [ngValue]="null">Elige una localidad</option>
                  @for (localidad of poblacionesInit(); track localidad.id) {
                    <option [ngValue]="localidad">{{ localidad.name }}</option>
                  }
                </select>
                @if(form.get('direccion.localidad')?.touched && form.get('direccion.localidad')?.hasError('required')){
                  <span class="error-msg">Elige una localidad</span>
                }
              </div>

              <div class="form-group mb-3">
                <label for="calle" class="form-label">Dirección</label>
                <input
                  type="text"
                  class="form-control form-control-lg border-0 shadow-sm rounded-pill"
                  formControlName="calle"
                  style="background: rgba(241, 39, 17, 0.1); border: 1px solid #e28277;"
                />
                @if(form.get('direccion.calle')?.touched && form.get('direccion.calle')?.hasError('required')){
                  <span class="error-msg">Introduce una dirección</span>
                }
              </div>

              <div class="form-group mb-3">
                <label for="coordX" class="form-label">Longitud</label>
                <input
                  type="number"
                  class="form-control form-control-lg border-0 shadow-sm rounded-pill"
                  formControlName="coordX"
                  style="background: rgba(241, 39, 17, 0.1); border: 1px solid #e28277;"
                />
              </div>

              <div class="form-group mb-3">
                <label for="coordY" class="form-label">Latitud</label>
                <input
                  type="number"
                  class="form-control form-control-lg border-0 shadow-sm rounded-pill"
                  formControlName="coordY"
                  style="background: rgba(241, 39, 17, 0.1); border: 1px solid #e28277;"
                />
              </div>
            </fieldset>
          </div>

          <div class="col-md-6">
            <fieldset formGroupName="horarios" class="mb-3">
              <div class="form-group mb-3">
                <label for="horarioManana" class="form-label">Horario de Apertura</label>
                <input
                  type="time"
                  class="form-control form-control-lg border-0 shadow-sm rounded-pill"
                  formControlName="horarioManana"
                  style="background: rgba(241, 39, 17, 0.1); border: 1px solid #e28277;"
                />
                @if(form.get('horarios.horarioManana')?.touched && form.get('horarios.horarioManana')?.hasError('required')){
                  <span class="error-msg">Introduce una hora de apertura</span>
                }
              </div>

              <div class="form-group mb-3">
                <label for="horarioTarde" class="form-label">Horario de Cierre</label>
                <input
                  type="time"
                  class="form-control form-control-lg border-0 shadow-sm rounded-pill"
                  formControlName="horarioTarde"
                  style="background: rgba(241, 39, 17, 0.1); border: 1px solid #e28277;"
                />
                @if(form.get('horarios.horarioTarde')?.touched && form.get('horarios.horarioTarde')?.hasError('required')){
                  <span class="error-msg">Introduce una hora de cierre</span>
                }
              </div>

              <div class="form-check mb-3">
                <input
                  type="checkbox"
                  class="form-check-input"
                  formControlName="finSemana"
                />
                <label for="finSemana" class="form-check-label">Abre fines de semana</label>
              </div>
            </fieldset>

            <div class="form-group mb-3">
              <label for="imagen" class="form-label">Imagen de la empresa</label>
              <input
                type="file"
                class="form-control form-control-lg border-0 shadow-sm rounded-pill"
                (change)="leerImagen($event)"
                formControlName="imagen"
                style="background: rgba(241, 39, 17, 0.1); border: 1px solid #e28277;"
              />
              @if(form.controls.imagen.hasError('imagen-no-valida')){
                <span class="error-msg">Selecciona un archivo de imagen válido</span>
              }
              <div class="my-3">
                <img class="img-fluid" id="img-preview" />
              </div>
            </div>
          </div>
        </div>

        <fieldset formGroupName="categorizacion" class="mb-3 col-md-6">
          <div class="form-group mb-3">
            <label for="categoria" class="form-label">Categoría</label>
            <select
              class="form-select form-control-lg border-0 shadow-sm rounded-pill"
              formControlName="categoria"
              style="background: rgba(241, 39, 17, 0.1); border: 1px solid #e28277;"
            >
              <option [ngValue]="null">Elige una categoría</option>
              @for (categoria of categorias(); track categoria.id) {
                <option [ngValue]="categoria">{{ categoria.name }}</option>
              }
            </select>
            @if(form.get('categorizacion.categoria')?.touched && form.get('categorizacion.categoria')?.hasError('required')){
              <span class="error-msg">Selecciona una categoría</span>
            }
          </div>

          <div formGroupName="servicios" class="form-check" >
            <p class="fw-bold">Servicios</p>
            @for (servicio of form.controls.categorizacion.controls.servicios.controls | keyvalue; track servicio.key) {
              <label [class.d-none]="ocultarServicio(servicio.key)" class="form-check-label mx-2">
                <input
                  type="checkbox"
                  [formControlName]="servicio.key"
                  [name]="servicio.key"
                  [checked]="servicio.value"
                  class="mx-1"
                  (change)="onChangeServicio($event)"
                />
                {{ servicio.key }}
              </label>
            }
            @if(form.get('categorizacion.servicios')?.touched && form.get('categorizacion.servicios')?.hasError('validar-checkbox')){
              <span class="error-msg">Selecciona al menos un servicio</span>
            }
          </div>
        </fieldset>

        <div class="text-center mt-5">
          <button
            type="submit"
            class="btn btn-lg px-5 py-3 rounded-pill shadow-lg"
            [disabled]="form.invalid"
            style="background: linear-gradient(135deg, #F12711, #F5AF19); color: #fff; border: none;"
          >
            <mat-icon>send</mat-icon> Enviar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<swal title=" " text=" " icon="success"></swal>
